App: # APP基础设置项
  RunMode: debug
  AttachmentIncomeRate: 0.8
  MaxCommentCount: 10
  DefaultContextTimeout: 60
  DefaultPageSize: 10
  MaxPageSize: 100
Server: # 服务设置
  RunMode: debug
  HttpIp: 0.0.0.0
  HttpPort: 8010
  ReadTimeout: 60
  WriteTimeout: 60
Features:
  Default: ["Web", "Meili", "MinIO",  "MySQL", "BigCacheIndex", "LoggerFile"] # LoggerFile可以换成LoggerMeili，还可以再添加Pprof，Pyroscope
WebServer: # Web服务
  HttpIp: 0.0.0.0
  HttpPort: 8008
  ReadTimeout: 60
  WriteTimeout: 60
CacheIndex:
  MaxUpdateQPS: 100             # 最大添加/删除/更新Post的QPS, 设置范围[10, 10000], 默认100
SimpleCacheIndex: # 缓存泡泡广场消息流
  MaxIndexSize: 200             # 最大缓存条数
  CheckTickDuration: 60         # 循环自检查每多少秒一次
  ExpireTickDuration: 300       # 每多少秒后强制过期缓存, 设置为0禁止强制使缓存过期
BigCacheIndex: # 使用BigCache缓存泡泡广场消息流
  MaxIndexPage: 1024            # 最大缓存页数，必须是2^n, 代表最大同时缓存多少页数据
  Verbose: False                # 是否打印cache操作的log
  ExpireInSecond: 300           # 多少秒(>0)后强制过期缓存
Logger: # 日志通用配置
  Level: debug # 日志级别 panic|fatal|error|warn|info|debug|trace
LoggerFile: # 使用File写日志
  SavePath: custom/data/logs
  FileName: app
  FileExt: .log
LoggerMeili: # 使用Meili写日志
  Host: meili:7700
  Index: paopao-log
  ApiKey: paopao-meilisearch
  Secure: False
  MinWorker: 5               # 最小后台工作者, 设置范围[5, 100], 默认5
  MaxLogBuffer: 100          # 最大log缓存条数, 设置范围[10, 10000], 默认100
JWT: # 鉴权加密
  Secret: 18a6413dc4fe394c66345ebe501b2f26
  Issuer: paopao-api
  Expire: 86400
TweetSearch: # 推文关键字搜索相关配置
  MaxUpdateQPS: 100            # 最大添加/删除/更新Post的QPS，设置范围[10, 10000], 默认100
  MinWorker: 10                # 最小后台更新工作者, 设置范围[5, 1000], 默认10
Meili: # Meili搜索配置
  Host: meili:7700
  Index: jh-forum
  ApiKey: 
  Secure: False
ObjectStorage: # 对象存储通用配置
  RetainInDays: 2   # 临时对象过期时间多少天
  TempDir: tmp      # 临时对象存放目录名
MinIO: # MinIO 存储配置
  AccessKey: root
  SecretKey: 
  Secure: true
  Endpoint: 
  Bucket: paopao
  Domain: 
PprofServer: # Pprof服务
  RunMode: debug
  HttpIp: 127.0.0.1
  HttpPort: 6060
  ReadTimeout: 60
  WriteTimeout: 60
Pyroscope: # Pyroscope配置
  AppName: "paopao-ce"                # application name
  Endpoint: "http://Pyroscope:4040"   # Pyroscope server address
  AuthToken:                          # Pyroscope authentication token
  Logger:  none                       # Pyroscope logger (standard | logrus | none)
Database: # Database通用配置
  LogLevel: error   # 日志级别 silent|error|warn|info
  TablePrefix: p_   # 表名前缀
MySQL: # MySQL数据库
  Username: root
  Password: 
  Host: mysql:3306
  DBName: paopao
  Charset: utf8mb4
  ParseTime: True
  MaxIdleConns: 10
  MaxOpenConns: 30
Redis:
  InitAddress: redis:6379
  Username: default
  Password: 
  SelectDB: 2
  ConnWriteTimeout: 60 # 连接写超时时间 多少秒 默认 60秒
WebProfile:
  UseFriendship: false              # 前端是否使用好友体系
  EnableTrendsBar: true            # 广场页面是否开启动态条栏功能
  AllowTweetAttachment: true       # 是否允许推文附件
  AllowTweetVideo: true            # 是否允许视频推文
  AllowUserRegister: true          # 是否允许用户注册
  AllowPhoneBind: false             # 是否允许手机绑定
  DefaultTweetMaxLength: 2000      # 推文允许输入的最大长度， 默认2000字，值的范围需要查询后端支持的最大字数
  TweetWebEllipsisSize: 400        # Web端推文作为feed显示的最长字数，默认400字
  DefaultTweetVisibility: friend   # 推文可见性，默认好友可见 值: public/following/friend/private
  DefaultMsgLoopInterval: 5000     # 拉取未读消息的间隔，单位：毫秒, 默认5000ms 
  CopyrightTop: "精弘论坛"  # 顶部版权信息
  CopyrightLeft: "精弘网络"   # 左下角版权信息
  CopyrightLeftLink: "https://www.myzjut.org/index"  # 左下角版权信息链接
  CopyrightRight: "精弘网络" # 右下角版权信息
  CopyrightRightLink: "https://www.myzjut.org/index" # 右下角版权信息链接
  